<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Bank App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Password Bank App</h3>
        </div>
 <div style="padding: 8px;"></div>
        <div class="jumbotron text-center">
            <h2>Welcome to Password Bank!</h>
            <p class="lead"></p>
            <p><a class="btn btn-medium btn-success" href="showSignUp" role="button">Create Account</a>
            </p>
        </div>
 
        <div class="row marketing">
            <hr>
            <div class="col-lg-6">
                <h4>Password Bank App</h4>
                <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
 
            <div class="col-lg-6">
                <h4>BPassword Bank App</h4>
                <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
            
        </div>
 <hr>
        <footer class="footer">
        <p>&copy; @alex_the_python_ninja</p>
      </footer>
 
    </div>
</body>
 
</html>